/* ELEMENTS */
body {
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color: #151515;
}


/* CLASSES */
.scaf {
    border: solid 1px red;
}

/* IDs */
#header-logo {
    width: 80%;
    padding-top: 10%;
}

/* SECTIONS */
header {
    text-align: center;
}
main {
    
}
footer {
    
}

/* MEDIA QUERIES */